.app_violet_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #8e4fcd;
    --primary-color: #470688;
    --secondary-color: #1a2499;
    --inverted-primary-color: #f7f4fb;
    --inverted-secondary-color: #1a2499;
    --red-color: red;
    --theme-button-color: #1a2499;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
